body {
  background: rgb(90, 130, 72);
  font-family: 'Copperplate', fantasy;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

main > h1 {
  font-size: 55px;
}

a > img {
  width: min(100px, 10vw);
}

video {
  display: none;
}

.show {
  display: block;
}
