body {
  background: #7ea76c;
  font-family: 'Copperplate', fantasy;
  /* margin-bottom: 2em; */
  /* display: flex;
  max-width: 100vw;
  overflow: scroll; */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  margin: 0 0.5em;
  text-align: center;
}

main > h1 {
  font-size: 45px;
  margin: 0.2em 0;
  color: #1e352f;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: min(500px, 50vw);
  padding: 1em;
  background: white;
  color: rgb(90, 130, 72);
  border-radius: 2em;
  margin: 1em 0;
  font-family: 'Copperplate', fantasy;
  border: 0.1em solid black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

button:disabled {
  opacity: 50%;
}

video {
  display: block;
  /* height: max(20vh, 40vh); */
  /* border-radius: 2em; */
  /* width: 85vw; */
  margin-top: 0.5em;
  margin-left: 1em;
  object-fit: cover;
  height: 80vmin;
  width: 80vmin;
}

#product-image {
  max-width: 90vw;
}

h2 {
  color: #1e352f;
}

h3 {
  margin-top: 2em;
  margin-bottom: 0;
  color: #205f2f;
}

.show {
  display: block;
}

.h2-notfound {
  color: #7d1a1a;
}

/* loading state */
.loading {
  display: none;
  position: absolute;
  top: 50%;
  font-size: 2em;
}

.loading-true {
  display: block;
}

.loading-ring {
  display: inline-block;
  width: 5em;
  height: 5em;
}

.loading-ring:after {
  content: ' ';
  display: block;
  width: 4em;
  height: 4em;
  margin: 0.5em;
  border-radius: 50%;
  border: 0.4em solid #d9574e;
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#scan {
  /* border: 1em solid black; */
  height: 85vmin;
  width: 89vmin;
  /* border-radius: 2em; */
  background: linear-gradient(to right, black 4px, transparent 4px) 0 0, linear-gradient(to right, black 4px, transparent 4px) 0 100%,
    linear-gradient(to left, black 4px, transparent 4px) 100% 0, linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0, linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
    linear-gradient(to top, black 4px, transparent 4px) 0 100%, linear-gradient(to top, black 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  /* height: 100vh; */
  text-align: center;
}

li {
  list-style-type: none;
  margin-left: -2em;
}
